/* NotoSansKR */

@font-face {
  font-family: "NotoSansKR";
  src: local("Noto Sans KR Thin"),
    url("../assets/fonts/NotoSansKR-Thin.woff2") format("woff2"),
    url("../assets/fonts/NotoSansKR-Thin.woff") format("woff");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: local("Noto Sans KR Light"),
    url("../assets/fonts/NotoSansKR-Light.woff2") format("woff2"),
    url("../assets/fonts/NotoSansKR-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: local("Noto Sans KR"),
    url("../assets/fonts/NotoSansKR-Regular.woff2") format("woff2"),
    url("../assets/fonts/NotoSansKR-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: local("Noto Sans KR Medium"),
    url("../assets/fonts/NotoSansKR-Medium.woff2") format("woff2"),
    url("../assets/fonts/NotoSansKR-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-display: swap;
  font-family: "NotoSansKR";
  src: local("Noto Sans KR Bold"),
    url("../assets/fonts/NotoSansKR-Bold.woff2") format("woff2"),
    url("../assets/fonts/NotoSansKR-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

/* Roboto */

@font-face {
  font-family: "Roboto";
  src: local("Roboto Thin"),
    url("../assets/fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Light"),
    url("../assets/fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"),
    url("../assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"),
    url("../assets/fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"),
    url("../assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
