@font-face {
  font-family: "Inter";
  src: local("Inter-Light"),
    url("../assets/fonts/Inter-Light.woff2") format("woff2"),
    url("../assets/fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-Regular"),
    url("../assets/fonts/Inter-Regular.woff2") format("woff2"),
    url("../assets/fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-Medium"),
    url("../assets/fonts/Inter-Medium.woff2") format("woff2"),
    url("../assets/fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-SemiBold"),
    url("../assets/fonts/Inter-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  src: local("Inter-Bold"),
    url("../assets/fonts/Inter-Bold.woff2") format("woff2"),
    url("../assets/fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  src: local("Inter-ExtraBold"),
    url("../assets/fonts/Inter-ExtraBold.woff2") format("woff2"),
    url("../assets/fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  src: local("Inter-Black"),
    url("../assets/fonts/Inter-Black.woff2") format("woff2"),
    url("../assets/fonts/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}
